<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo OpenTok By Proesad.</title>
    <link rel="stylesheet" href="./../static/css/app.css">
    <link rel="stylesheet" href="./../static/css/archiving.css">
    <link rel="stylesheet" href="./../static/css/chat-off.css">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!--mis css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-brand">
            <a href="./../index.html" class="navbar-item" >
                <img src="./../static/img/proesad-opentok.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                <!-- <img src="./static/img/proesad-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
                <!-- <img src="./static/img/logo-proesad.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
            </a>
            <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
                <span class="icon" style="color: #333;">
                  <i class="fa fa-github"></i>
                </span>
            </a>
            <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
                <span class="icon" style="color: #55acee;">
                  <i class="fa fa-twitter"></i>
                </span>
            </a>
            <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu">
            <!-- <h1>Mi menú</h1> -->
        </div>
    </nav>
  
    <!-- <section class="hero is-medium is-light is-bold">
    </section> -->
    <div class="content-session">

        <div id="videos" class="session-left">
            <div id="div-publisher"></div>
            <div id="div-subscriber"></div>
            <div id="buttonholder">
                <div id="buttons">
                    <button type="button" class="button is-danger" id="start" onClick="javascript:onStartGrabacion()">Iniciar Grabación</button>
                    <button type="button" class="button is-success" id="stop" onClick="javascript:onStopGrabacion()">Parar Grabación</button>
                    <button type="button" class="button is-info" id="view" onClick="javascript:onViewGrabacion()" disabled>Ver Grabación</button>
                </div>
            </div>
        </div>
        
        <div id="ayudas" class="session-rigth">
            <div class="info">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="http://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <!-- SESSION_ID:<strong id="session_id" class="is-small">123456789s12</strong> -->
                                <div class="field is-horizontal">
                                    <div class="field-label is-small">
                                      <label class="label">SESSION_ID</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input  id="session_id" class="input is-small" type="text" placeholder="Small sized input">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <label class="label" id="nombre_session"> <strong>Video de asesoria por el dia 2.</strong> </label>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="tabs is-centered">
                <ul>
                    <li class="is-active" data-content-id="div-chat">
                        <a>
                            <span class="icon is-small"><i class="fa fa-comments"></i></span>
                            <span>Chat</span>
                        </a>
                    </li>
                    <li data-content-id="div-documentos">
                        <a>
                            <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
                            <span>Documentos</span>
                        </a>
                    </li>
                    <li data-content-id="div-videos">
                        <a>
                            <span class="icon is-small"><i class="fa fa-film"></i></span>
                            <span>Videos</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-tabs">
                <div class="content-tab is-active" id="div-chat" >
                    <ol id="history" class="historial"></ol>
                    <form id="formChatText" class="chat-form">
                        <input type="text" class="input" placeholder="Ingrese su pregunta" id="msgTxt">
                    </form>
                </div>
                <div class="content-tab" id="div-documentos" >
                        <div class="box">
                                <article class="media">
                                  <div class="media-left">
                                    <figure class="image is-64x64">
                                      <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                    </figure>
                                  </div>
                                  <div class="media-content">
                                    <div class="content">
                                      <p>
                                        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                        <br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                      </p>
                                    </div>
                                    <nav class="level is-mobile">
                                      <div class="level-left">
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                        </a>
                                      </div>
                                    </nav>
                                  </div>
                                </article>
                              </div>
                              
                        <div class="box">
                                
                                <article class="media">
                                  <div class="media-left">
                                    <figure class="image is-64x64">
                                      <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                    </figure>
                                  </div>
                                  <div class="media-content">
                                    <div class="content">
                                      <p>
                                        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                        <br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                      </p>
                                    </div>
                                    <nav class="level is-mobile">
                                      <div class="level-left">
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                        </a>
                                      </div>
                                    </nav>
                                  </div>
                                </article>
                              </div>
                </div>
                <div class="content-tab" id="div-videos" >
                    <h1>Content Chat</h1>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="./../static/js/config.js"></script>
    <script type="text/javascript" src="./../static/js/app_1.js"></script>
</body>
</html>