body, html {
    background-color:#f5f7fa;
    height: 100%;
}

.content-session{
    /* position: absolute; */
    height: 89%;
}

#videos{
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#ayudas{
    position: relative;
    width: 30%;
    height: 100%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    flex-flow: column;
}

.tabs{
    position: relative;
    flex: 0 1 auto;
    margin-bottom: 1px !important;
}

.content-tabs{
    position: relative;
    width: 100%;
    flex: 1 1 auto;
}

.content-tab{
    position: absolute;
    height: 100%;
    width: 100%;
}

.content-tabs .content-tab{
    display: none;
}

.content-tabs .content-tab.is-active{
    display: block;
}




#div-subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* margin-left: 50px; */
    z-index: 10;
}

#div-publisher {
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 10px;
    border: 10px;
    /* right: 10px; */
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
    display: flex
}

#div-subscriber.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}




/* .rtmp-container {
    width: 675px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.rtmp-container span {
    /* font-family: "Poiret One"; */
    /* font-style: italic; */
    color: #0099cc;
    /* font-weight: 600; */
    display: inline-block;
    height: 25px;
}

.rtmp-container span.active {
    color: #59c9e3;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.rtmp-container span.error {
    color: red;
    font-weight: 800;
}

.rtmp-container .input-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rtmp-container .input-container input {
    height: 35px;
    width: 45%;
    font-size: 14px;
    padding: 0 10px;
    margin: 5px 0;
    text-align: center;
}

.rtmp-container input::-webkit-input-placeholder {
    color: lightgrey;
}



.hidden {
    display: none !important;
}

.opacity-0 {
    opacity: 0;
    z-index: -1;
}

.no-show {
    height: 0;
}