body, html {
    background-color:#f5f7fa;
    height: 100%;
}

.content-session{
    /* position: absolute; */
    height: 89%;
}

#videos{
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#ayudas{
    position: relative;
    width: 30%;
    height: 100%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    flex-flow: column;
}

.tabs{
    position: relative;
    flex: 0 1 auto;
    margin-bottom: 1px !important;
}

.content-tabs{
    position: relative;
    width: 100%;
    flex: 1 1 auto;
}

.content-tab{
    position: absolute;
    height: 100%;
    width: 100%;
}

.content-tabs .content-tab{
    display: none;
}

.content-tabs .content-tab.is-active{
    display: block;
}




#div-subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* margin-left: 50px; */
    z-index: 10;
}

#div-publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

#div-subscriber.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}